@charset "utf-8";

/*=======================================================================
 Created by p3r, 2010.
=======================================================================*/


/*=======================================================================
 Custom fonts.
=======================================================================*/
@font-face
{
	font-family: 'Aller';
	src: url('../fonts/Aller_Rg.eot');
	src: local('Aller'), url('../fonts/Aller_Rg.ttf') format('opentype');
}

@font-face
{
	font-family: 'Aller Italic';
	src: url('../fonts/Aller_It.eot');
	src: local('Aller Italic'), url('../fonts/Aller_It.ttf') format('opentype');
}


/*=======================================================================
 Global selectors.
=======================================================================*/
*
{
	border:  none;
	margin:  0px;
	padding: 0px;

	color: #584e43;
	font-family: Aller, Arial, Helvetica, sans-serif;
	font-size:   12px;
	text-align:  justify;
}

html, body
{
	background-color: #ebe7d3;

	height: 100%;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: #da1a35;
}

img
{
	border: none;
}


/*=======================================================================
 Layout containers.
=======================================================================*/
#LayoutContainer
{
	margin: 0px 0px -68px 0px;

	min-height: 100%;
	width: 100%;

	position: relative;
}

#MainHeaderContainer
{
	border-top: 4px solid #3c342b;

	height: 96px;
	width:  100%;
}

#HeaderContainer
{
	margin: 0px auto;

	width: 960px;
}

#MainMenuContainer
{
	background: #f1eee0 url('../images/MenubarBg.png') repeat-x left center;

	border-bottom: 1px solid #dad8c7;
	border-top:    1px solid #f6f4eb;

	height: 70px;
	width:  100%;
}

#MenuContainer
{
	margin: 0px auto;

	width: 960px;
}

#MainContainer
{
	margin: 0px auto;

	width: 960px;
}

#MainContentContainer
{
	margin-bottom: 24px;

	width: 656px;

	float: left;
}

#SidebarContainer
{
	margin-bottom: 24px;

	width: 288px;

	float: right;
}

#MainFootageContainer
{
	background: #3c342b url('../images/FootageDecoBg.png') repeat-x left top;

	padding-top: 32px;

	height: 36px;
	width:  100%;

	bottom: 0px;
	clear:  both;
	position: relative;

	text-align: left;
}

#FootageContainer
{
	margin: 0px auto;

	width: 960px;
}


/*=======================================================================
 Panels.
=======================================================================*/
.Panel
{
	border-bottom: 1px solid #d3cba5;
	padding: 16px 0px 24px 0px;

	width: 100%;

	overflow: hidden;
}

.Panel:first-child
{
	border-top: 1px solid #d3cba5;
	margin-top: 16px;
}

.Panel h1, h2, h1 a, h2 a
{
	margin-bottom: 12px;

	display: block;

	font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
	font-size:   18px;
	font-style:  italic;
	font-weight: normal;
}

.Panel h1 a, h2 a
{
	display: inline;
}

.Panel h2, h2 a
{
	color: #979281;
	font-size: 14px;
}

.Panel h1 + h2
{
	margin: -4px 0px 12px 8px;
}

.Panel ul
{
	list-style-type: none;
}

.Panel li
{
	background-image:    url('../images/ListItemMarker.png');
	background-position: 6px center;
	background-repeat:   no-repeat;

	margin:  0px;
	padding: 6px 0px 6px 24px;
}

.Panel .Menu li
{
	background-image: url('../images/MenuListItemMarker.png');

	border-bottom: 1px dotted #d3cba5;
	padding: 8px 0px 8px 24px;

	color: #979281;
}

.Panel .Menu li:first-child
{
	border-top: 1px dotted #d3cba5;
}

.Panel .Menu li a
{
	color: #979281;
}

.Panel .Menu li a:hover
{
	color: #da1a35;
}

.Panel .Image
{
	border: 1px solid #dfd9b9;
	margin: 6px;

	float: left;
}

.Panel .Image img
{
	background-color: #f0eee1;

	border:  1px solid #fdfaeb;
	padding: 3px;
}

.Panel .Icon
{
	margin: 0px 1px;

	width: 128px;

	float: left;
}

.Panel .Icon p, .Panel .Icon a
{
	color: #979281;
	font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
	text-align:  center;
	font-style:  italic;
}

.Panel .Icon a:hover
{
	color: #da1a35;
}

.Panel .Icon .Image img
{
	width: 116px;
}

.Panel .SmallPanel
{
	margin: 0px 5px 0px 5px;

	width: 208px;

	float: left;
}

.Panel .SubsectionMore
{
	margin-top: 8px;

	float: right;
}

.Panel .SubsectionCategories
{
	border-bottom: 1px solid #d3cba5;
	border-top:    1px solid #d3cba5;
	margin:  8px 0px 24px 0px;
	padding: 4px 0px 4px 0px;

	width: 100%;

	font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
	font-style:  italic;
}

.Panel .SmallPanel .SubsectionImage
{
	border: 1px solid #dfd9b9;
	margin: 0px;
}

.Panel .SmallPanel .SubsectionImage img
{
	background-color: #f0eee1;

	border:  1px solid #fdfaeb;
	padding: 3px;

	width: 202px;
}


/*=======================================================================
 Input.
=======================================================================*/
input[type="button"].Custom,
input[type="reset" ].Custom,
input[type="submit"].Custom,
input[type="button"].CustomSmall,
input[type="reset" ].CustomSmall,
input[type="submit"].CustomSmall,
input[type="button"].CustomCircle,
input[type="reset" ].CustomCircle,
input[type="submit"].CustomCircle
{
	background: #ebe7d3 url('../images/ButtonBg.png') 0px 0px no-repeat;

	margin: 1px;

	height: 24px;
	width:  140px;

	display: inline-block;

	color: #584e43;
	font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
	font-size:   11px;
	text-align:  center;
	font-style:  italic;
}

input[type="button"].CustomSmall,
input[type="reset" ].CustomSmall,
input[type="submit"].CustomSmall
{
	background-image: url('../images/ButtonSmallBg.png');

	width: 64px;
}

input[type="button"].CustomCircle,
input[type="reset" ].CustomCircle,
input[type="submit"].CustomCircle
{
	background-image: url('../images/CircleButtonBg.png');

	margin: 0px;

	height: 30px;
	width:  30px;
}

input[type="button"].CustomCircle:hover,
input[type="reset" ].CustomCircle:hover,
input[type="submit"].CustomCircle:hover
{
	background-position: 0px -30px;

	color: #ffffff;
}

input[type="button"].Custom:hover,
input[type="reset" ].Custom:hover,
input[type="submit"].Custom:hover,
input[type="button"].CustomSmall:hover,
input[type="reset" ].CustomSmall:hover,
input[type="submit"].CustomSmall:hover
{
	background-position: 0px -24px;

	color: #ffffff;
}

input[type="text"].Custom,
input[type="password"].Custom,
input[type="text"].CustomWithIconSmall,
input[type="password"].CustomWithIconSmall
{
	background: #ebe7d3 url('../images/InputBoxBg.png') no-repeat left center;

	border:  none;
	margin:  0px 0px 4px 0px;
	padding: 0px 0px 0px 8px;

	height: 26px;
	width:  288px;

	color: #ada687;
	font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
	font-style:  italic;
	line-height: 26px;

	display: inline-block;
}

input[type="text"].CustomWithIconSmall,
input[type="password"].CustomWithIconSmall
{
	width: 256px;

	float:    left;
	position: relative;
}

input[type="text"].CustomWithIcon,
input[type="password"].CustomWithIcon
{
	background: #ebe7d3 url('../images/InputBoxBigBg.png') no-repeat left center;

	border:  none;
	margin:  0px;
	padding: 0px 0px 0px 8px;

	height: 34px;
	width:  247px;

	display:  inline-block;
	float:    left;
	position: relative;

	color: #ada687;
	font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
	font-style:  italic;
	line-height: 34px;
}

input[type="button"].Icon,
input[type="reset" ].Icon,
input[type="submit"].Icon,
input[type="button"].IconSmall,
input[type="reset" ].IconSmall,
input[type="submit"].IconSmall
{
	background-color: #ebe7d3;
	background-position: 0px 0px;
	background-repeat: no-repeat;

	margin: 0px;

	height: 34px;
	width:  33px;

	clear:    right;
	display:  inline-block;
	float:    left;
	position: relative;
}

input[type="button"].IconSmall,
input[type="reset" ].IconSmall,
input[type="submit"].IconSmall
{
	height: 26px;
	width:  24px;
}

input[type="button"].Icon:hover,
input[type="reset" ].Icon:hover,
input[type="submit"].Icon:hover
{
	background-position: 0px -34px;
}

input[type="button"].IconSmall:hover,
input[type="reset" ].IconSmall:hover,
input[type="submit"].IconSmall:hover
{
	background-position: 0px -26px;
}

input[type="checkbox"].Custom,
input[type="radio"].Custom
{
	display: none;
}

.CustomCheckBox,
.CustomRadio
{
	background: #ebe7d3 url('../images/CheckBox.png') no-repeat;

	margin:  0px 4px 2px 0px;
	padding: 0px;

	height: 16px;
	width:  16px;

	display: inline-block;
	vertical-align: middle;
}

.CustomRadio
{
	background-image: url('../images/Radio.png');
}

select.Custom
{
	margin:  0px 0px 4px 0px;

	height: 26px;
	width:  288px;

	opacity: 0;

	position: relative;
	z-index: 5;
}

.CustomSelect
{
	background: #ebe7d3 url('../images/SelectBg.png') no-repeat left center;

	padding: 0px 24px 0px 8px;

	height: 26px;
	width:  256px;

	overflow: hidden;
	position: absolute;

	color: #ada687;
	font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
	font-style:  italic;
	line-height: 26px;
}

.CustomDisabledInput
{
	opacity: 0.5;
}

.CompactSearchIcon
{
	background-image: url('../images/ButtonInputSearch.png');
}

.NewsletterIcon
{
	background-image: url('../images/ButtonInputAdd.png');
}

.QuestionIcon
{
	background-image: url('../images/IconQuestion.png');
}

/* Id for auto-clearing default text from inputs. */
input.AutoClear
{}


/*=======================================================================
 Main menu navigation.
=======================================================================*/
#MenuContainer ul .MainMenu
{
	list-style-type: none;
}

#MenuContainer .MainMenu li, .MainMenu li a
{
	margin: -1px 0px 0px 1px;

	height: 72px;
	width:  190px;

	display:  block;
	float:    left;
	position: relative;

	text-align: center;
}

#MenuContainer .MainMenu li:after, .MainMenu li:first-child:before
{
	content: url('../images/MenuSeparator.png');
}

#MenuContainer .MainMenu li:after
{
	margin-right: -1px;

	float: right;
}

#MenuContainer .MainMenu li:first-child:before
{
	margin-left: -1px;

	float: left;
}

#MenuContainer .MainMenu li a
{
	background-position: 0px 0px;
	background-repeat: no-repeat;

	margin: 0px;
}

#MenuContainer .MainMenu li a:hover
{
	background-color: #f2c515;
	background-position: 0px -72px;
}

#MenuContainer .MainMenu li .Home
{
	background-image: url('../images/MenuButtonHome.png');
}

#MenuContainer .MainMenu li .Recipes
{
	background-image: url('../images/MenuButtonRecipes.png');
}

#MenuContainer .MainMenu li .Knowledge
{
	background-image: url('../images/MenuButtonKnowledge.png');
}

#MenuContainer .MainMenu li .Search
{
	background-image: url('../images/MenuButtonSearch.png');
}

#MenuContainer .MainMenu li .Contact
{
	background-image: url('../images/MenuButtonContact.png');
}


/*=======================================================================
 Footage navigation.
=======================================================================*/
#FootageContainer ul .Navigation
{
	list-style-type: none;
}

#FootageContainer .Navigation li
{
	display: inline;
}

#FootageContainer .Navigation li:after, .Navigation li:first-child:before
{
	content: url('../images/NavSeparator.png');

	padding: 0px 5px;
}


/*=======================================================================
 Logo.
=======================================================================*/
#HeaderContainer .Logo
{
	margin-top: 27px;
}
